<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Test CORS</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code&family=Fira+Sans&display=swap" rel="stylesheet">

    <style>
      body {
        margin: 2em;
        font-family: 'Fira Sans', sans-serif;
        color: darkslategray;
      }

      .title {
        width: 60%;
        margin: 0 auto;
        text-align: center;
      }

      .endpointSection {
        margin: 2em;
        padding: 2em;
        border-radius: 10px;
      }

      code {
        color: white;
        font-family: 'Fira Code', monospace;
      }

      pre {
        border-radius: 10px;
        background-color: darkslategray;
        padding: 1em;
        margin:2em 0;
      }

      .shadow {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }

      button {
        border: 2px solid darkslategray;
        border-radius: 5px;
        font-family: "Fira Sans", sans-serif;
        color: darkslategray;
      }
    </style>
    
  </head>
  <body>
    <section class="title">
      <h1>Hello from origin <%= port %></h1>
      <p>Please don't forget to run the server</p>
      <span>on terminal run: <pre><code>node server.js</code></pre></span>
    </section>
    <div class="endpointSection shadow">
      <h3>/</h3>
      <button onclick="fetchServer('')">Execute</button>
      <button onclick="clearResult('')">Clear</button>
      <pre class="shadow"><code id="result">Please click 'Execute' to try</code></pre>
    </div>
    <div class="endpointSection shadow">
      <h3>/cors5000</h3>
      <button onclick="fetchServer('cors5000')">Execute</button>
      <button onclick="clearResult('cors5000')">Clear</button>
      <pre class="shadow"><code id="resultcors5000">Please click 'Execute' to try</code></pre>
    </div>
    <div class="endpointSection shadow">
      <h3>/cors8000</h3>
      <button onclick="fetchServer('cors8000')">Execute</button>
      <button onclick="clearResult('cors8000')">Clear</button>
      <pre class="shadow"><code id="resultcors8000">Please click 'Execute' to try</code></pre>
    </div>

    <pre class="shadow"><code>
This the script if you want to know

 0 // onclick "Execute"
 1 function fetchServer(port) {
 2   let result = document.querySelector(`#result${port}`);
 3   fetch(`http://localhost:3000/${port}`, {mode: 'cors'})
 4     .then(res => res.json())
 5     .then(json => result.innerText = JSON.stringify(json))
 6     .catch(error => result.innerText = "CORS Error, see console")
 7 }
 8 
 9 // onclick "Clear"
10 function clearResult(port) {
11   let result = document.querySelector(`#result${port}`);
12   result.innerText = "Please click 'Execute' to try";
13 }
    </code></pre>

    <script>
      function fetchServer(port) {
        let result = document.querySelector(`#result${port}`);
        fetch(`http://localhost:3000/${port}`, {mode: 'cors'})
          .then(res => res.json())
          .then(json => result.innerText = JSON.stringify(json))
          .catch(error => result.innerText = "CORS Error, see console")
      }

      function clearResult(port) {
        let result = document.querySelector(`#result${port}`);
        result.innerText = "Please click 'Execute' to try";
      }
    </script>
    
  </body>
</html>
